:root {
    --bs-body-font-family: Muli, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    --bs-primary-rgb: rgb(225, 93, 159);
    --bs-link-color: 1;
    --bs-link-hover-color: rgb(181, 45, 108);
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    font-family: "Noto Serif JP", "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
    text-transform: none;
}

h2 {
    text-transform: uppercase;
}

.tooltip, .popover, .subheading {
    font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: normal;
  font-weight: 400;
  text-transform: none;
}

a {
    text-decoration: none;
}

.social-icons .social-icon:hover {
    background-color: rgb(181, 45, 108);
}

nav {
    background-image: url("../assets/img/black-thread-light.png");
}

.resume-section {
    background-color: rgb(255, 250, 240);
}

.subheading p {
    margin-bottom: 0;
}

:root {
    --bs-primary-rgb: 181, 19, 108; /* pink */
    --bs-bg-opacity: 1;
    --bs-link-color: rgb(181, 19, 108);
}

.social-icons .social-icon {
    background-color: rgb(181, 45, 108);
}

section.resume-section {
    background-color: #fffaf3;
}
